# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
resources/ios/icon/icon-72.png
resources/ios/icon/icon-72@2x.png
resources/ios/icon/icon-76.png
resources/ios/icon/icon-76@2x.png
resources/ios/icon/icon-83.5@2x.png
resources/ios/icon/icon-small.png
resources/ios/icon/icon-small@2x.png
resources/ios/icon/icon-small@3x.png
resources/ios/icon/icon.png
resources/ios/icon/icon@2x.png
resources/ios/splash/Default-568h@2x~iphone.png
resources/ios/splash/Default-667h.png
resources/ios/splash/Default-736h.png
resources/ios/splash/Default-Landscape-736h.png
resources/ios/splash/Default-Landscape@2x~ipad.png
resources/ios/splash/Default-Landscape@~ipadpro.png
resources/ios/splash/Default-Landscape~ipad.png
resources/ios/splash/Default-Portrait@2x~ipad.png
resources/ios/splash/Default-Portrait@~ipadpro.png
resources/ios/splash/Default-Portrait~ipad.png
resources/ios/splash/Default@2x~iphone.png
resources/ios/splash/Default~iphone.png
resources/ios/icon/icon-40.png
resources/ios/icon/icon-40@2x.png
resources/ios/icon/icon-40@3x.png
resources/ios/icon/icon-50.png
resources/ios/icon/icon-50@2x.png
resources/ios/icon/icon-60.png
resources/ios/icon/icon-60@2x.png
resources/ios/icon/icon-60@3x.png
App.apk
VePorEl Cliente.apk
