page-offer {
  ul {
    padding: 0px;

    &.rating li {
      padding: 3px 3px !important;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 15px;
      }
    }
  }
}
