
<ion-header>
  <ion-navbar>
    <img src="assets/img/logo_horizontal.png" height="40" class="center" />
  </ion-navbar>
</ion-header>
<ion-content padding="">
  <div *ngIf="option==1">
    <h2 text-center>{{'como_funciona_text'| translate}}</h2>
    <p [innerHTML]="'como_funciona'| translate" text-wrap text-justify></p>
  </div>
  <div *ngIf="option==2">
    <h2 text-center>{{'legal_text'| translate}}</h2>
    <p [innerHTML]="'info_legal'| translate" text-wrap text-justify></p>
  </div>
  <div *ngIf="option==3">
    <h2 text-center>{{'que_es_veporel_text'| translate}}</h2>
    <p [innerHTML]="'que_es_veporel'| translate" text-wrap text-justify></p>
  </div>

</ion-content>
