<ion-header>

  <ion-navbar>
    <ion-title>{{ 'recuperar_contrasena' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="step==1">
      <ion-list>
        <ion-item>
          <ion-label stacked>{{ 'email' | translate }}</ion-label>
          <ion-input type="email" [(ngModel)]="account.email" name="username" placeholder="email@email.com"></ion-input>
        </ion-item>
        <div padding>
          <button ion-button color="primary" block (click)="send_temp_password()">{{ 'recibir_contrasena_temp' | translate }}</button>
          <button ion-button color="primary" block (click)="next_step()">{{ 'ya_tengo_contrasena_temp' | translate }}</button>
        </div>
      </ion-list>
    </div>
    <div *ngIf="step==2">
      <ion-list>
        <ion-item>
          <ion-label stacked>{{ 'contrasena_temporal' | translate }}</ion-label>
          <ion-input type="number" [(ngModel)]="account.temp_password" name="contrasena_temporal" placeholder="{{'contrasena_temporal' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'nueva_contrasena' | translate }}</ion-label>
          <ion-input type="password" [(ngModel)]="account.new_password" name="password" placeholder="{{ 'nueva_contrasena' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'repetir_contrasena' | translate }}</ion-label>
          <ion-input type="password" [(ngModel)]="account.new_password_r" name="password" placeholder="{{ 'repetir_contrasena' | translate }}"></ion-input>
        </ion-item>
        <div padding>
          <button ion-button color="primary" block (click)="reset_password()">{{ 'finalizar' | translate }}</button>
        </div>
      </ion-list>
    </div>
</ion-content>
